<p> Received Apply from <%= @apply.name %></p>
<p> Dob : <%= @apply.dob %></p>
<p> Gender : <%= @apply.gender %></p>
<p> Marriage : <%= @apply.marriage %></p>
<p> Occupation : <%= @apply.occupation %></p>
<p> Email : <%= @apply.email %></p>
<p> Phone : <%= @apply.phone %></p>
<p> Country : <%= @apply.country %></p>
<p> Photo : <%= @apply.photo %></p>
