<div class ="container">
  <div class ="text">
    <h2>
    <p>Welcome to our Form Page</p>
    <p>You can kindly fill the form below</p>
    </h2>
  </div>

  <%= form_with model: @apply do |f| %>
    <div class="row justify-content-center">
      <div class="row justify-content-center">
          <div class= "col-12 col-lg-6">
            <div class="form">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>

            <div class="form">
              <%= f.label :Date_of_Birth %>
              <%= f.number_field :dob %>
            </div>

            <div class="form">
              <%= f.label :gender %>
              <%= f.text_field :gender %>
            </div>

            <div class="form">
              <%= f.label :Marital_Status %>
              <%= f.text_field :marriage %>
            </div>

            <div class="form">
              <%= f.label :Occupation %>
              <%= f.text_field :occupation %>
            </div>

            <div class="form">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>

            <div class="form">
              <%= f.label :Phone_Number %>
              <%= f.number_field :phone %>
            </div>

            <div class="form">
              <%= f.label :Country %>
              <%= f.text_field :country %>
            </div>

             <div class="form">
              <%= f.label :Photo %>
              <%= f.file_field :picture %>
            </div>

            <div class="form">
              <%= f.submit %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
